{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "strict",
        "singleAttributePerLine": true
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve",
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 120,
        "singleQuote": false,
        "embeddedLanguageFormatting": "auto"
      }
    },
    {
      "files": ["*.mdx"],
      "options": {
        "parser": "mdx",
        "proseWrap": "preserve",
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 120,
        "embeddedLanguageFormatting": "auto"
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "proseWrap": "preserve",
        "bracketSpacing": true,
        "printWidth": 120
      }
    }
  ]
}
